body {
  font-family: sans-serif;
  background-color: #f6f8fa;
}

h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h2,
h3,
h4,
p {
  margin-top: 1rem;
}

#header {
  background-color: #24292e;
  color: #f5f5f5;
}

#contributors {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.profile-img {
  border-radius: 50%;
  max-width: 50px;
  padding: 3px;
}
